<div class="p-grid">
  <div class="p-col-2">
    Era 1: <br /> 12 card off.
  </div>
  <div class="p-col-8 menubar">
    <button pButton type="button" label="Player 1" class="ui-button-raised ui-button-secondary"></button>
    <button pButton type="button" label="Player 2" class="ui-button-raised ui-button-secondary"></button>
    <button pButton type="button" label="Player 3" class="ui-button-raised ui-button-secondary"></button>
    <button pButton type="button" label="Player 4" class="ui-button-raised ui-button-secondary"></button>
  </div>
  <div class="p-col-2 turnoffmenu">
    <button pButton type="button" label="Turn Off" class="ui-button-raised ui-button-secondary"></button>
  </div>
</div>