<p-accordion>
  <p-accordionTab header="Board Military">

    <p>Military</p>

    
    <div class="p-grid scroll">
      <div class="p-col-12 line">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </div>

  </p-accordionTab>
</p-accordion>