<p-accordion>
  <p-accordionTab header="Timeline">

    <div class="p-grid scroll">
      <div class="p-col-12">
        <div class="line era1">
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
        </div>
        <div class="line era2">
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
        </div>
        <div class="line era3">
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
        </div>
      </div>

      <div class="p-col-12">
        <div class="line era1">
          <span><i class="pi pi-chart-line"></i></span>
          <span><i class="pi pi-chart-line"></i></span>
          <span><i class="pi pi-chart-line"></i></span>
          <span><i class="pi pi-chart-line"></i></span>
          <span><i class="pi pi-chart-line"></i></span>
        </div>
        <div class="line era2">
          <span><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i></span>
          <span><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i></span>
          <span><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i></span>
          <span><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i></span>
        </div>
        <div class="line era3">
          <span><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i></span>
          <span><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i></span>
          <span><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i></span>
          <span><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i><i class="pi pi-chart-line"></i></span>
        </div>
      </div>
    </div>

  </p-accordionTab>
</p-accordion>