<p-accordion>
  <p-accordionTab header="Hand Player: Limit 4">

    <div class="p-grid scroll">
      <div class="p-col-12 line">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </div>
    
  </p-accordionTab>
</p-accordion>