<p-dialog header="Jogador" [(visible)]="display" [modal]="true">
  <input type="text" size="30" [(ngModel)]="userName" pInputText>
  <p-footer>
    <p-button label="Iniciar" (click)="enterName()"></p-button>
  </p-footer>
</p-dialog>


<div class="p-grid">
  <div class="p-col-12">
    <app-menubar></app-menubar>
  </div>
  <div class="p-col-12">
    <app-timeline></app-timeline>
  </div>
  <div class="p-col-12">
    <app-handplayer></app-handplayer>
  </div>
  <div class="p-col-12">
    <app-board></app-board>
  </div>
  <div class="p-col-12">
    <app-tecnology></app-tecnology>
  </div>
  <div class="p-col-12">
    <app-culture></app-culture>
  </div>
  <div class="p-col-12">
    <app-military></app-military>
  </div>
</div>


