<div class="p-grid">
  <div class="p-col-12">
    <app-menubar></app-menubar>
  </div>
  <div class="p-col-12">
    <app-timeline></app-timeline>
  </div>
  <div class="p-col-12">
    <app-handplayer></app-handplayer>
  </div>
  <div class="p-col-12">
    <app-board></app-board>
  </div>
  <div class="p-col-12">
    <app-tecnology></app-tecnology>
  </div>
  <div class="p-col-12">
    <app-culture></app-culture>
  </div>
  <div class="p-col-12">
    <app-military></app-military>
  </div>
</div>


